@use "../../assets/stylesheets/variables" as *;

.menu-mobile-bar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 3.5rem;
	font-size: 1rem;
	background-color: rgb(0, 0, 0);
	color: var(--white);

	// Add bottom-border divider to the toolbar on desktop
	@media (min-width: $mobile-breakpoint) {
		border-bottom: 1px solid var(--white);
	}

	&.title {
		font-size: 2rem;
	}

	.menu-mobile-button {
		all: unset;
		width: 1.5rem;
		height: 1.5rem;
		padding: 0.75rem;
		text-align: center;
		background-color: transparent;

		> svg {
			width: 100%;
			height: 100%;
		}

		// Hide the toolbar buttons on desktop
		@media (min-width: $mobile-breakpoint) {
			display: none;
		}
	}

	.menu-mobile-countdown {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;

		// Desktop specific countdown styling
		@media (min-width: $mobile-breakpoint) {
			flex-direction: row;
			gap: 1.5rem;
		}

		.menu-mobile-countdown-text {
			font-size: 1rem;
			color: var(--goldy);
		}
	}
}

.menu-button,
.menu-close,
.menu-home {
	cursor: pointer;
	position: absolute;
	box-sizing: content-box;
	top: 0;
	right: 0;
	width: 2rem;
	height: 2rem;
	margin: 1rem 1rem;
	padding: 0.5rem;
	background-color: transparent;
	border: none;
	color: var(--dark-grey);

	// Desktop mode
	@media (min-width: $mobile-breakpoint) {
		display: none;
	}
}

.menu-close {
	color: black;
}

.menu-home {
	left: 0;
}

.menu-overlay {
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	transform: translateX(0);
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: visible;
	transition:
		opacity 0.5s ease,
		visibility 0.5s ease;

	&.close {
		opacity: 0;
		visibility: hidden;
		transform: translateX(100vw);
	}
}

.menu {
	position: fixed;
	z-index: 2;
	top: 0;
	right: 0;
	transform: translateX(0);
	width: 75vw;
	height: 100vh;
	background-color: var(--cream);
	transition: transform 0.5s ease;
	color: black;
	font-weight: 700;

	> ul {
		margin-top: 3rem;

		// Desktop mode
		@media (min-width: $mobile-breakpoint) {
			margin-top: 0;
		}

		// Remove the desktop home button
		> li:first-child {
			display: none;
		}

		> li {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-left: 2rem;
			padding: 1.25rem 1rem 0.5rem 0;
			width: fit-content;
			cursor: pointer;

			> svg {
				margin-right: 1rem;
			}

			&:hover,
			&:active {
				text-decoration: underline;
				text-underline-offset: 6px;

				transform: translateY(-3px);
			}

			transition: transform 0.2s ease;
		}
	}

	&.close {
		transform: translateX(100vw);
	}
}

// Desktop mode
@media (min-width: $mobile-breakpoint) {
	.menu.close {
		transform: unset;
		position: relative;
		width: 100%;
		height: 100%;

		ul {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 0 2rem;

			// Add desktop home button to toolbar
			> li:first-child {
				display: flex;
			}

			> li {
				padding: 1rem;
				margin: 0;
			}
		}
	}
}
