.menu-button,
.menu-close,
.menu-home {
	cursor: pointer;
	position: absolute;
	box-sizing: content-box;
	top: 0;
	right: 0;
	width: 2rem;
	height: 2rem;
	margin: 1rem 1rem;
	padding: 0.5rem;
	background-color: transparent;
	border: none;
	color: var(--dark-grey);
}

.menu-close {
	color: var(--bg);
}

.menu-home {
	left: 0;
}

.menu-overlay {
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	transform: translateX(0);
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: visible;
	transition: opacity 0.5s ease, visibility 0.5s ease;

	&.close {
		opacity: 0;
		visibility: hidden;
		transform: translateX(100vw);
	}
}

.menu {
	position: fixed;
	z-index: 2;
	top: 0;
	right: 0;
	transform: translateX(0);
	width: 75vw;
	height: 100vh;
	background-color: var(--dark-grey);
	transition: transform 0.5s ease;
	color: var(--bg);

	> ul {
		margin-top: 3rem;

		> li {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-left: 2rem;
			padding: 1.25rem 1rem 0.5rem 0;
			width: fit-content;
			cursor: pointer;
			border-bottom: 5px solid transparent;

			> svg {
				margin-right: 1rem;
			}

			&:hover,
			&:active {
				border-color: var(--gold);
				color: var(--gold);
			}
		}
	}

	&.close {
		transform: translateX(100vw);
	}
}
