.menu-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 2rem;
	height: 2rem;
	margin: 1rem 1rem;
}

.menu-overlay {
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	transform: translateX(0);
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: visible;
	transition: opacity 0.5s ease, visibility 0.5s ease;

	&.close {
		opacity: 0;
		visibility: hidden;
		transform: translateX(100vw);
	}
}

.menu {
	position: fixed;
	z-index: 2;
	top: 0;
	right: 0;
	transform: translateX(0);
	width: 75vw;
	height: 100vh;
	background-color: #333;
	transition: transform 0.5s ease;

	> ul {
		margin-top: 3rem;

		> li {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-left: 2rem;
			padding: 1rem 1rem 1rem 0;
			width: fit-content;
			cursor: pointer;

			> svg {
				margin-right: 1rem;
			}
		}
	}

	&.close {
		transform: translateX(100vw);
	}
}

.menu-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 2rem;
	height: 2rem;
	margin: 1rem 1rem;
}

.menu-home {
	position: absolute;
	top: 0;
	left: 0;
	width: 2rem;
	height: 2rem;
	margin: 1rem 1rem;
}
