@use "../../assets//stylesheets/mixins" as *;

.page-rsvp {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 2rem;
	text-align: center;
}

#page-rsvp-name-search {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 44px;
	align-self: center;

	#name-search-label {
		width: 100%;
	}

	#name-search {
		all: unset;
		box-sizing: border-box;
		height: 100%;
		padding: 0;
		margin-right: 0.75rem;
		border-bottom: 1px solid black;
	}

	.page-rsvp-name-search-button {
		@include button-style(fit-content);
	}

	#page-rsvp-name-search-error {
		height: 100%;
	}
}

.page-rsvp-form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.yes-no-buttons {
	display: flex;
	gap: 1.5rem;
	justify-content: center;

	button {
		@include button-style(3rem);

		&:not(.selected) {
			background-color: transparent;
			color: #333;
			border: 1px solid var(--dark-grey);
		}
	}
}

.section-dietry-selections {
	input[type="checkbox"] {
		padding-left: 8rem;
	}
	label {
		padding-left: 0.5rem;
	}
}

.rsvp-fieldset {
	@include box-shadow();
}

.page-rsvp-submit-button {
	@include button-style();
	margin-left: auto;
	margin-right: auto;
}
