@use "../assets/stylesheets/mixins" as *;
@use "../assets/stylesheets/variables" as *;

.name_heading {
	text-align: center;
	font-size: 2.5rem;
}

.centered-and {
	display: block;
	text-align: center;
	font-size: 28px;
}

.centre_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	@media (max-width: $mobile-breakpoint) {
		margin-top: 45vh;
		background-color: whitesmoke;
		border-radius: 10%;
	}
}

#home-page-rsvp-button {
	@include button-style();
	@include box-shadow();
}

.home-image {
	border-radius: 12px;
	opacity: 0;
	transition: opacity 0.6s ease-out;
	// Offset image from the task bar
	margin-top: 3.5rem;

	&.visible {
		opacity: 1;
	}

	@media (max-width: $mobile-breakpoint) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 65vh;
		z-index: -1;
		border-radius: 0;
	}
}
