@use "../../../src/assets/stylesheets/mixins" as *;

.page-schedule {
	margin-left: 1.25rem;
	border-left: 1px solid var(--dark-grey);
	border-left-style: dashed;

	> div {
		margin-bottom: 1.75rem;
	}
}

.schedule-record {
	position: relative;
}

.schedule-time {
	@include box-shadow();
	position: absolute;
	display: inline-block; // Required because it's a span element
	left: -28px;
	color: var(--bg);
	background-color: var(--dark-grey);
	padding: 0.1rem 0.4rem 0.4rem 0.4rem;
	width: 38px;
}

.schedule-text {
	margin-left: 2.25rem;
	font-weight: 900;
}
