@use "../../../src/assets/stylesheets/mixins" as *;

.accordion {
    @include box-shadow();
    cursor: pointer;
    margin-bottom: 1rem;
    background-color: var(--white);

    .accordion-question {
        all: unset;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 30px;

        svg {
            transform: rotate(0deg);
            transition: transform 0.5s ease;
        }
    }

    .accordion-question,
    .accordion-answer {
        padding: 1rem;
        border: 0.5px solid gainsboro;
        border-radius: 1px;
        color: var(--dark-grey);
    }

    .accordion-answer {
        border-top: none;
        padding-top: 0;
        font-weight: 400;
        font-size: 25px;

        img {
            width: 100%;
        }
    }

    &.open {
        .accordion-question {
            border-bottom: none;

            svg {
                transform: rotate(180deg);
            }
        }

        .accordion-answer {
            display: block;
        }
    }

    &.close {
        .accordion-answer {
            display: none;
        }
    }
}
