.accordion {
	margin-bottom: 2rem;

	&.open {
		.accordion-question {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;

			svg {
				transform: rotate(180deg);
			}
		}

		.accordion-answer {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}
}

.accordion-question {
	all: unset;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	cursor: pointer;
	border: 1px solid grey;
	background-color: grey;
	border-radius: 4px;
	padding: 1rem 1rem;
	font-weight: 700;

	svg {
		transform: rotate(0deg);
		transition: transform 1s ease;
	}
}

.accordion-answer {
	background-color: grey;
	padding: 1rem 1rem;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 1s ease;

	&.open {
		max-height: 500px;
	}
}
