@use "./variables" as *;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--white: white;
	--bg: whitesmoke;
	--dark-grey: #252525;
	--gold: #d3af37;
	--mocha: #d3c8bb;
	--mocha-dark: #71462a;
}

// @media (prefers-color-scheme: dark) {
// 	:root {
// 		--background: #0a0a0a;
// 		--foreground: #ededed;
// 	}
// }

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	background-color: var(--bg);
	overflow-x: hidden;
	font-size: 20px;
}

body {
	color: var(--foreground);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: transparent;
}

.page {
	padding: 2rem 2.5rem 2rem 2.5rem;

	@media (min-width: $mobile-breakpoint) {
		padding-top: 2.5rem;
		padding-left: 30vw;
		padding-right: 30vw;
	}
}

* {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

fieldset {
	padding: 0.5rem 0;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

.page-title {
	text-align: center;
	padding-bottom: 1.5rem;
	color: var(--dark-grey);
}
